.div-slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
    

  h1 {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 2rem;

  }

  .slider {    
    width: 450px;
    height: 350px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    figure {
      width: 330px;
      padding: 0.8rem;
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    }
    img {
      vertical-align: top;
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
    }

    figcaption {
      text-align: center;
      font-size: 1.5rem;
      padding: 0.5rem;
      text-decoration: underline;
      text-decoration-style: wavy;
    }
  }
}

::-webkit-scrollbar {
    width: 0.20rem;
    height: .5rem;
    }
    ::-webkit-scrollbar-track{
    background: #fff;
    }
    ::-webkit-scrollbar-thumb{
    background: #6649b8;
    }
    figure {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 1em;
        margin-inline-end: 1em;
    }
    