@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.headings {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #6d708d;
}

.apparel {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: auto;
}

.apparel__container {
  margin: 0 auto;
}

.apparel__container .hero__logo {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 30%;
  height: 20%;
}

.apparel__container .hero__image {
  background: url(../asset/apprarel-landing-page/hero-mobile.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 300px;
}

.apparel__container .hero__text {
  background: url(../asset/apprarel-landing-page/bg-pattern-desktop.svg);
  background-size: cover;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.apparel__container .hero__text h1 {
  letter-spacing: 5px;
  font-size: 2.5rem;
}

.apparel__container .hero__text .one {
  color: #ce9797;
  font-weight: 300;
}

.apparel__container .hero__text .two {
  font-weight: 500;
}

.apparel__container .hero__text p {
  margin-top: 1.2rem;
  color: #ce9797;
  font-size: 1rem;
  margin-bottom: 4rem;
  line-height: 25px;
}

.apparel__container .hero__text .hero__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ce9797;
  border-radius: 30px;
  width: 250px;
  margin: 0 auto;
}

.apparel__container .hero__text .hero__input input {
  background: transparent;
  width: 250px;
  border: none;
  outline: none;
  color: #ce9797;
  padding: 0 0.8rem;
}

.apparel__container .hero__text .hero__input img {
  color: white;
  background: #f96262;
  padding: 0.6rem 1.3rem;
  border-radius: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 800px) {
  .apparel {
    background: url(../asset/apprarel-landing-page/bg-pattern-desktop.svg);
  }
  .apparel .apparel__container .hero {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .apparel .apparel__container .hero .hero__input {
    margin: 0;
  }
  .apparel .apparel__container .hero__text {
    margin-right: 10rem;
    text-align: left;
    margin-left: 5rem;
  }
  .apparel .apparel__container .hero__text h1 {
    letter-spacing: 8px;
    font-size: 3rem;
  }
  .apparel .apparel__container .hero__text p {
    font-size: 1.1rem;
  }
  .apparel .apparel__container .hero__logo {
    position: absolute;
    width: 170px;
    height: 40px;
    top: 8%;
    left: 7%;
  }
  .apparel .apparel__container .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  .apparel .apparel__container .hero__image {
    background: url(../asset/apprarel-landing-page/hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.pricing {
  width: 100%;
  min-height: 100vh;
  background: url(../asset/pricing-component/bg-bottom.svg), url(../asset/pricing-component/bg-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  background-color: #b3b5c6;
  font-family: "Montserrat", sans-serif;
}

.pricing__container {
  max-width: 900px;
  padding: 1rem;
  margin: 0 auto;
  height: 100%;
}

.pricing__container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #6d708d;
}

.pricing__container__grid {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.pricing__container__grid .card {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.pricing__container__grid .card h1 {
  font-size: 3.5rem;
}

.pricing__container__grid .card span {
  font-size: 1.3rem;
  font-weight: 600;
}

.pricing__container__grid .master,
.pricing__container__grid .basic {
  height: 320px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricing__container__grid .master span,
.pricing__container__grid .basic span {
  color: #494c5f;
}

.pricing__container__grid .master a,
.pricing__container__grid .basic a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(#a3a8f0, #696fdd);
}

.pricing__container__grid .basic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pricing__container__grid .master {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing__container__grid .proffesional {
  height: 370px;
  padding: 2rem 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(#a3a8f0, #696fdd);
  border-radius: 10px;
  color: white;
}

.pricing__container__grid .proffesional a {
  background-color: white;
  color: #494c5f;
}

.pricing__container__grid a {
  text-decoration: none;
  cursor: pointer;
  padding: 0.6rem 4rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 700;
}

@media screen and (max-width: 950px) {
  .pricing__container__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: center;
  }
  .pricing__container__grid .card {
    max-width: 400px;
    border-radius: 10px;
  }
}

.testimonial {
  font-family: 'Barlow Semi Condensed', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #b3b5c6;
  font-size: 1rem;
}

.testimonial__container {
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
  height: 100%;
}

.testimonial__container__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.testimonial__container__grid .one {
  background-color: #7541c8;
}

.testimonial__container__grid .two {
  background-color: #48556a;
}

.testimonial__container .five {
  background-color: #19212e;
}

.testimonial__container .one .card__primary, .testimonial__container .two .card__primary, .testimonial__container .five .card__primary {
  color: white;
}

.testimonial__container .three, .testimonial__container .four {
  background-color: white;
}

.testimonial__container .three .card__primary, .testimonial__container .four .card__primary {
  color: #48556a;
}

.testimonial__container .card {
  border-radius: 5px;
  padding: 1rem;
}

.testimonial__container .card__info {
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__container .card__info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 1rem;
}

.testimonial__container .card__info__name .name {
  font-size: .8rem;
  color: #aaa;
}

.testimonial__container .card__info__name .qualification {
  font-size: .6rem;
  color: #aaa;
}

.testimonial__container .card__primary {
  font-size: .9rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.testimonial__container .card__secondary {
  font-size: .8rem;
  color: #aaa;
  opacity: 70%;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  .testimonial__container__grid {
    justify-items: center;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "one one five three" "four two two three";
  }
  .testimonial__container__grid .one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: one;
  }
  .testimonial__container__grid .two {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: two;
  }
  .testimonial__container__grid .three {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: three;
  }
  .testimonial__container__grid .four {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: four;
  }
  .testimonial__container__grid .five {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: five;
  }
}

@media screen and (max-width: 900px) {
  .card {
    max-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */